<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Distant Ember</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link th:href="@{css/index.css}" href="../static/css/index.css" rel="stylesheet"/>
    <link th:href="@{css/minimit.css}" href="../static/css/minimit.css" rel="stylesheet" />
</head>
<body>

    <header>

        <nav th:include="nav::nav" class="navbar navbar-inverse navbar-fixed-top cbp-af-header">

            <!-- nav is only used for static prototyping purposes (natural templates)
                and is therefore entirely optional, as this markup fragment will be included
                at runtime.
            -->

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#top">
                        <img th:src="@{img/site-logo-white-70pct.png}" src="../static/img/site-logo-white-70pct.png" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#sights">Sights</a></li>
                        <li><a href="#sports">Sports</a></li>
                        <li><a href="#activites">Activities</a></li>
                        <li><a href="#contact">Contact</a></li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </header>

    <div class="container-fluid">
        <section class="row">
            <div class="fill-screen" th:style="'background-image: url(' + @{img/crystal-lake.jpg} + ')'" style="background-image: url(../static/img/crystal-lake.jpg)" >
            </div>
        </section>
        <section class="row text-banner">
            <h1>VISIT MOUNT RAINIER NATIONAL PARK</h1>
            <p>It'a a great place. Get there as soon as you can before the snow falls. You're sure to see wildlife.</p>
        </section>

        <section class="row">
            <div class="fill-screen fixed-attachment" th:style="'background-image: url(' + @{img/deer.jpg} + ')'" style="background-image: url(../static/img/deer.jpg)" >
            </div>
        </section>

        <section class="row activity-section">
            <div th:each="activity : ${activities}" class="activity-element col-md-4">
                <img th:src="@{'img/' + ${activity.image}}" src="../static/img/map.png" />
                <h1 th:text="${activity.title}">Orienteering</h1>
                <p th:text="${activity.description}">Use the wind, sun, and moss on the trees to orient yourself. It's a great skill to have!</p>
            </div>
        </section>

        <section class="row">
            <div class="fill-screen fixed-attachment" th:style="'background-image: url(' + @{img/mountains.jpg} + ')'" style="background-image: url(../static/img/mountains.jpg)" >
            </div>
        </section>

        <section class="row contact-us">
            <h1>CONTACT US</h1>
            <p>Washington</p>
            <p>Address line 1</p>
            <p>Address Line 2</p>
            <p>Address Line 3</p>
        </section>

    </div>

    <footer class="container-fluid">
        <h1>Footer</h1>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{js/classie.js}" src="../static/js/classie.js"></script>
    <script th:src="@{js/cbpAnimatedHeader.js}" src="../static/js/cbpAnimatedHeader.js"></script>

    <script>

        $(function(){

            $(window).on('resize', function () {
                fillScreen();
            });

            function fillScreen(){
                $('.fill-screen').css('height', window.innerHeight);
            }

            fillScreen();

            /*
            //shift + command + up/down to move content
             $('#hello').on('click', function(){

             $('#update').html('Please Wait');
             $('#hello').toggle(false);

             $.get('/boot', function(data){

             $('#update').html(data);
             $('#hello').toggle(true);

             });
             });

             $('#reset').on('click', function(){

             $.get('/boot-reset', function(){
             $('#update').html('');
             });

             });
             */
        });

    </script>
</body>
</html>
