<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{css/shipwreck.css}" href="../static/css/shipwreck.css" rel="stylesheet" />

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-site-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Shipwrecks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-site-navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shipwrecks</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top: 75px;">

    <section class="row main-image" th:each="d : ${demo}">

        <h2>Das Boot - Shipwreck Dive Locations</h2>
        <img class="img-responsive" th:src="img/shipwreck.jpg" src="../static/img/shipwreck.jpg" alt="shipwreck" />

        <!--
        <div class="col-md-4">
            <h1 th:text="${demo.title}">Hello</h1>
        </div>
        <div class="col-md-4">
            <h1 th:style="'background-image: url(' + @{img/demo.jpg} + ')'">Hello</h1>
        </div>
        <div class="col-md-4">
            <h1 th:attr="data-pic=@{img/demo.jpg}">Hello</h1>
        </div>
        -->

    </section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script th:src="@{js/demo.js}" src="../static/js/demo.js"></script> -->
</body>
</html>